//           .d888  .d888
//          d88P"  d88P"
//          888    888
//  .d88b.  888888 888888       .d8888b  8888b.  88888b.  888  888  8888b.  .d8888b
// d88""88b 888    888         d88P"        "88b 888 "88b 888  888     "88b 88K
// 888  888 888    888  888888 888      .d888888 888  888 Y88  88P .d888888 "Y8888b.
// Y88..88P 888    888         Y88b.    888  888 888  888  Y8bd8P  888  888      X88
//  "Y88P"  888    888          "Y8888P "Y888888 888  888   Y88P   "Y888888  88888P'

.off-canvas {
	background-color: $color-blue-lighter;
	height: $off-canvas-height;
	left: (-$off-canvas-width);
	overflow: auto;
	padding: $space-m;
	position: fixed;
	top: 0;
	transition: $off-canvas-transition;
	width: $off-canvas-width;
	z-index: 2;

	&.off-canvas-open {
		box-shadow: $off-canvas-shadow;
		left: 0;
	}

	> div:first-child {
		align-items: center;
		display: flex;
		height: $space-l;
		justify-content: flex-end;
		margin: (-$space-m) (-$space-m) 0;
		position: fixed;
		width: $off-canvas-width;

		> .button-close {
			color: $color-white;
			height: $space-l;
			width: $space-l;
		}
	}

	.off-canvas-body {
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6 {
			&:first-child {
				background-color: $color-blue;
				color: $color-white;
				font-size: $font-size-h3;
				margin: (-$space-m) (-$space-m) $space-m;
				padding: $space-xs $space-m;
			}
		}

		> ol,
		> ul {
			padding-left: $space-m;
		}
	}
}
