//                                   888 888 888
//                                   888 888 888
//                                   888 888 888
// .d8888b   .d8888b 888d888 .d88b.  888 888 88888b.   8888b.  888d888 .d8888b
// 88K      d88P"    888P"  d88""88b 888 888 888 "88b     "88b 888P"   88K
// "Y8888b. 888      888    888  888 888 888 888  888 .d888888 888     "Y8888b.
//      X88 Y88b.    888    Y88..88P 888 888 888 d88P 888  888 888          X88
//  88888P'  "Y8888P 888     "Y88P"  888 888 88888P"  "Y888888 888      88888P'

.ps--active-x {
  margin-bottom: $space-m;
}

.scrollbar-wrapper {
  > .ps.ps--active-x > .ps__rail-x,
  > .ps.ps--active-x > .ps__rail-x:hover {
    background-color: $color-gray;
    height: $space-m;
    opacity: 1;

    .ps__thumb-x {
      background-color: $color-blue-light;
      bottom: $space-xs;
      height: $space-s;
    }
  }
}
